body{
    background: url(https://c8.alamy.com/comp/2AT56C6/stone-wall-texture-hd-background-with-light-effect-2AT56C6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pi{
    color: white;
}

.img{
    justify-content: center;
    margin-left: 330px;
    margin-top: 200px;
    position: absolute;
}

.pi{
    position: relative;
    margin-left: 630px;
    margin-top: 240px;
    font-size: 40px;
}

.buton{
    margin-left: 590px;
    margin-top: 25px;
    border: none;
    position: relative;
    border-radius: 50px;
    font-size: 25px;
    padding-top: 28px;
    padding-bottom: 28px;
}